body {
    color: white;
    font-size: 1.5em;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.cx1 {
    background-color: blue;
    grid-row-start:1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}

.cx2 {
    background-color: red;
    grid-row-start:2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.cx3 {
    background-color: purple;
    grid-row-start:2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: -1;
}