@charset "UTF-8";

/* Todas as demais mídias*/

/* Typical Device Breakponits
--------------------------------
Pequenas telas: até 600px
Celular: até 600px até 768px
Tablet: 768px até 992px
Pc: 992px até 1200px
Grandes telas: acima de 1200px
--------------------------------
*/

/*Impressora*/
@media print {

    *{
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../imagens/icon-print.png); /* desnecessário*/
    }

    main {
        border: 2px solid black;
    }

    main::after {
        content: 'essa impressão foi feita por Ryan Giraldi';
        text-decoration: overline;
    }

    main, h1 {
        text-shadow: none;
        color: black;
    }

    img#celular { display: none; }
    img#tablet { display: none; }
    img#print { display: block; }
    img#pc { display: none; }
    img#tv { display: none; }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {   body {
    background-image: url(../imagens/back-tablet.jpg);
    }

    img#celular { display: none; }
    img#tablet { display: block; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: none; }
}

/*PC*/
@media screen and (min-width: 992px) and (max-width:1200px) {   body {
    background-image: url(../imagens/back-pc.jpg);
    }  
    
    img#celular { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: block; }
    img#tv { display: none; }
}

/*TV*/
@media screen and (min-width: 1200px) {
    body {
    background-image: url(../imagens/back-tv.jpg);
    }

    img#celular { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: block; }
    
}