body {
    color: white;
    font-size: 1.5em;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.cx1 {
    background-color: blue;
    grid-area: 1 / 1 / 2 / 5;
    /*
    grid-row: 1/ 2;
    grid-column: 1 / 5;
    */
}

.cx2 {
    background-color: red;
    grid-area: 2 / 1 / 4 /3;
    /*
    grid-row: 2 / 4;
    grid-column: 1 / 3
    */
}

.cx3 {
    background-color: purple;
    grid-area: 2 / 3 / 4 / -1;
    /*
    grid-row: 2 / 4;
    grid-column: 3 / -1;
    */
}