@charset "UTF-8";

/*Estlios para impressora*/

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em; /*espaçamento de linha*/
}

menu {
    display: none; /*não vai ser exibido no modo impressora */
}

article {
    width: 100%;
}

article::after {
    content: "Esse artigo foi impresso através do site wwww.cursoemvideo.com";
}

