@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
    padding: 0px;
}

body,html {
    background-color: rgb(44, 44, 44);
}

header {
    background-color: gray;
}

header > h1 {
    text-align: center;
    padding: 10px;
}

i#burguer {
    background-color: gray;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
}

i#burguer:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

menu {
    display: none;
}

menu > ul {
    list-style: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(75, 74, 74);
    border-top: 2px solid black;
    color: white;
}

menu > ul > li > a:hover {
    background-color: rgba(255, 255, 255, 0.356);
    color: black;
    font-weight: bolder;
    transition: 0.5s;
}

main {
    background-color: white;
    margin: auto;
    margin-top: 10px;
    width: 90vw;
    height: 60vh;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 10px;
}

article > p {
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 20px;
}

main > h1 {
    text-align: center;
    margin: 10px;
}