@charset "UTF-8";

/*Estlios para tela*/

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: rgb(167, 165, 165);
}

header > h1 {
    text-align: center;
}

menu ul {
    list-style-type: none; /*tira as bolinhas do ul*/
    background-color: gray;
}

menu li {
    background-color: rgb(63, 63, 63);
    color: white;
    display: inline-block; /*deixando um do lado do outro*/
    padding: 10px;
}

article {
    width: 600px;
    display: block;
    margin: auto;
}