body {
    color: white;
    font-size: 1.5em;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.cx1 {
    background-color: blue;
    grid-row: 1/ span -4;
    grid-column: 1 / span 4;
}

.cx2 {
    background-color: red;
    grid-row: 2 / 4;
    grid-column: 1 / span 2;
}

.cx3 {
    background-color: purple;
    grid-row: 2 / 4;
    grid-column: 3 / -1;
}